.box1 {
    background-color: #5BC0DE;
    width: 40%;
    padding: 120px;
    margin-top: 50px !important;
    margin: 0 auto;
    box-shadow: 2px 2px 1px #888888;
}

.box2 {
    background-color: #5BC0DE;
    width: 40%;
    padding: 120px;
    margin-top: 50px !important;
    margin: 0 auto;
    box-shadow: 2px 2px 1px #888888;
}